.button-add-column{
    margin-left: 10%;
    height: 35px; 
    width:125px;
}
.button-close-editind{
    margin-left: 3%;
    height: 35px; 
    width: 100px;
}
input{
    font-size: 20px;
}
label{
    font-size: 20px;
}
.size-for-lebel{
    margin-left: 10%;
    margin-top: 1%;
}
.size-for-input{
    margin-left: 10%;
    margin-top: 1%;
}
.is-not-valid-header-name{
    margin-left: 10%;
    font-size: 10px;
    color: red;
}
.button-div{
    margin-top: 4%;
}