<div class="input-div">
  <div>
    <label for="path">Enter path:</label>
    <input type="text" id="path" (change)="onSelectPath(path.value)" #path name="path"><br><br>
  </div>
  <div>
    <div>
      <label for="date">Select month and year:</label>
      <input type="month" id="date"  #date name="date"><br><br>
      <label for="nauthor">Select author:</label>
      <select  name="nauthor" #nauthor>
        <option *ngFor="let author of allAuthors$ | async" [value]="author.name">{{author.name}} ({{author.email}})</option>
      </select><br><br>
      Choose working hours: <input type="number" min="0" max="23" #start placeholder="0"> -
      <input type="number" min="0" max="23" #end placeholder="0">
    </div>
    <div>
      <button class="button-generate" (click)="onGenerate(date.value, nauthor.value, start.value, end.value)">Generate</button> 
    </div>
  </div>  
</div>  


<div *ngIf="isGenerate">
  <div class="div-merge-commits-selection-changed">
    <input class="checkbox-merge-commits-selection" type="checkbox"  id="mergeCommits" (change)="onHideMergeCommits($event)">
    <label for="mergeCommits">Hide merge commits</label>
  </div>
  
  <ag-grid-angular
      class = "ag-theme-balham ag-grid"
      [columnDefs] = "columnDefs"
      [rowData] = "rowData"
      [defaultColDef]= "defaultColDef"
      [rowHeight] = "50"
      [isExternalFilterPresent]= "isExternalFilterPresent"
      [frameworkComponents]="frameworkComponents"
      [doesExternalFilterPass]= "doesExternalFilterPass"
      rowSelection="multiple"
      [suppressRowClickSelection] = "true"
      (gridReady) = "onGridReady($event)"
  ></ag-grid-angular>

  <div>
    <button class="button-create-column" (click)="openAddDialog()">Create new column</button>
    <button class="button-export" (click)="onBtnExport()">Download CSV export file</button>
  </div>
</div>
