  
<form [formGroup]="checkoutForm" (ngSubmit)="onGenerate(selectedDate.value, nauthor.value, start.value, end.value)">
  <div class="form-group input-div"> 
    <label for="path">Enter path:</label>
    <input type="text" required id="path" formControlName="path" (change)="onSelectPath(path.value)" #path name="path">
  </div>
  
  <div class="form-group input-div">
    <label for="date">Select month and year:</label>
    <input type="month" required id="date" formControlName="selectedDate" [formControl] = "selectedDate">
  </div>
  <div class="form-group input-div">
    <label for="nauthor">Select author:</label>
    <select required formControlName="nauthor" name="nauthor" #nauthor>
      <option *ngFor="let author of allAuthors$ | async" [value]="author.name">{{author.name}} ({{author.email}})</option>
    </select>
  </div> 
  <div class="form-group input-div">
    Choose working hours: <input type="number" required formControlName="start" min="0" max="23" #start placeholder="0"> -
        <input type="number" required formControlName="end" min="0" max="23" #end placeholder="0">
  </div>
    <button class="button-generate" type="submit" [disabled]="checkoutForm.invalid">Generate</button> 
</form>

<div *ngIf="isGenerate">
  <div class="div-merge-commits-selection-changed">
    <input class="checkbox-merge-commits-selection" type="checkbox"  id="mergeCommits" (change)="onHideMergeCommits($event)">
    <label for="mergeCommits">Hide merge commits</label>
  </div>
  
  <ag-grid-angular
      class = "ag-theme-balham ag-grid"
      [columnDefs] = "columnDefs"
      [rowData] = "rowData"
      [defaultColDef]= "defaultColDef"
      [rowHeight] = "50"
      [isExternalFilterPresent]= "isExternalFilterPresent"
      [frameworkComponents]="frameworkComponents"
      [doesExternalFilterPass]= "doesExternalFilterPass"
      rowSelection="multiple"
      [suppressRowClickSelection] = "true"
      (gridReady) = "onGridReady($event)"
  ></ag-grid-angular>

  <div>
    <button class="button-create-column" (click)="openAddDialog()">Create new column</button>
    <button class="button-export" (click)="onBtnExport()">Download CSV export file</button>
  </div>
</div>
