.ag-grid{
    margin-left: 1%;
    width: 90%; 
    height: 600px; 
    font-size: 20px;
    margin-top: 0.5%;
}
.button-generate{
    margin-top:  1%;
    height:50px; 
    width:100px;
    margin-left: 2%;
}
.button-export{
    margin-left: 1%;
    margin-top: 1%;
    height:50px; 
    width:250px;
}
div{
    font-size: 18px; 
}
.input-div {
    margin-left: 2%;
    margin-top: 1%;
}
.button-create-column{
    margin-left: 65%;
    margin-top: 1%;
    height:50px; 
    width:200px;
}
.button-select-path{
    margin-top: 0.5%;
    height:50px; 
    width:150px;
}
.div-merge-commits-selection-changed{
    margin-left: 2%;
    margin-top: 2%;
    font-size: 20px; 
}
.checkbox-merge-commits-selection{
    height:17px; 
    width:17px;
    margin-right: 0.5%;
}
.loader {
    border: 10px solid #f3f3f3; /* Light grey */
    border-top: 10px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
.div-loader{
    display: flex;

    flex-direction: row;

    justify-content: flex-start;

}

