.ag-grid{
    margin-left: 1%;
    width: 90%; 
    height: 600px; 
    font-size: 20px;
    margin-top: 0.5%;
}
.button-generate{
    margin-top:  1%;
    height:50px; 
    width:100px;
}
.button-export{
    margin-left: 1%;
    margin-top: 1%;
    height:50px; 
    width:250px;
}
div{
    font-size: 20px; 
}
.input-div {
    margin-left: 2%;
    margin-top: 2%;
}
.button-create-column{
    margin-left: 65%;
    margin-top: 1%;
    height:50px; 
    width:200px;
}
.button-select-path{
    margin-top: 0.5%;
    height:50px; 
    width:150px;
}
.div-merge-commits-selection-changed{
    margin-left: 2%;
    margin-top: 2%;
    font-size: 20px; 
}
.checkbox-merge-commits-selection{
    height:17px; 
    width:17px;
    margin-right: 0.5%;
}

