<div>
    <div class="input-div-ck">
        <label class = "size-for-label" for="consumerKey">Enter consumer key:</label><br>
        <input class = "size-for-input" type="text" id="consumerKey"  #consumerKey name="consumerKey">
    </div>
    <div class="input-div-csk">
        <label class = "size-for-label" for="consumerSecretKey">Enter consumer secret key:</label><br>
        <input class = "size-for-input" type="text" id="consumerSecretKey"  #consumerSecretKey name="consumerSecretKey">
    </div>
</div>
<div class="button-div">
    <button class="button-log-in" (click)="onLogIn(consumerKey.value, consumerSecretKey.value)">Log in</button>
</div>
    

 